body{
    background: url("./img/coffee3.jpg");
    background-attachment: fixed;
    min-height: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
#logo{
    background: #8c1c03;
}

#menu ul li:hover{
    background: #8c1c03;
}

.button-more{
   
    background-color: #8c1c03;
}